.login_container {
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    color: black;
    padding: 70px;
    max-width: 100%;
}

.singin_container {
    padding: 20px;
}

.wrapper_login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 20px;
}

.wrapper_singin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 0px;
}

.input_group {
    margin-bottom: 15px;
    border-radius: 8px;
}


