.modal .noborder-input {
    background-color: transparent;
    border: none;
    color: #202020;
    padding: 8px 0;
    transition: all 0.2s ease;
}

.modal .noborder-input:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    
}

.modal .noborder-input::placeholder {
    color: #959595;
    opacity: 1;
}

.modal .title-input {
    font-size: 40px;
    font-weight: 600;
}

.modal .content-input {
    font-size: 24px;
    font-weight: 400;
    resize: none;
}


.modal label {
    display: none !important;
}

.modal-content {
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
}

.modal-body {
    padding: 2rem;
}

.modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1rem 1.5rem;
}

