{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modal_styles.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper singin-wrapper">
    <div class="auth-container singin-container">
        <form method="post">
            {% csrf_token %}
            <div class="text-center mb-4">
                <h1>Let's create account</h1>
            </div>
            
            <hr>
            <br>
            

            <div class="input_group">
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="first_name" placeholder="First name" required>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="last_name" placeholder="Last name" required>
                </div>
                <br>
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="password" name="password1" placeholder="Password" required>
                </div>
                <div class="mb-3">           
                    <input class="form-control form-control-lg" type="password" name="password2" placeholder="Confirm password" required>
                </div>
                
                <div class="text-center mb-4">
                    <button type="submit" class=" btn btn-dark btn-lg">Sing in</button>
                </div>
            </div>

            <input type="hidden" name="next" value="{{ next }}">

        </form>

    </div>
</div>

{% endblock %}