{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modal_styles.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex">
    <div class="bg-light border-end" style="width: 22%; min-height: 100vh;">
  
        <div class="dropdown-center mb-3">
            <button class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>  {{ user.username}}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
                <li><a class="dropdown-item" href="#">Sign in</a></li>
            </ul>
        </div>

        <div class="d-flex flex-column align-items-start gap-3">
            <a class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#TaskModal">
                <i class="bi bi-plus-circle-fill"></i> Add note
            </a>
            <a class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#FolderModal">
                <i class="bi bi-plus-circle-fill"></i> Add folder
            </a>
            <a class="btn btn-lg" href="#">
                <i class="bi bi-calendar-fill"></i> Today
            </a>
            <h2>My tasks</h2>
        </div>

        <div class="d-flex flex-column align-items-start gap-3 ps-4">
            {% for task in tasks %}
                <a class="btn btn-lg" href="{% url 'tasks:task_detail' task.pk %}">#{{ task.title }}</a>
            {% endfor%}
        </div>
    </div>

    <div class="modal fade" id="TaskModal" tabindex="-1" aria-labelledby="TaskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                
                
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="TaskModalLabel">Add Note</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                
                <form method="post" action="{% url 'tasks:task-create' %}">
                    <div class="modal-body p-4">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label"></label>
                            {{ task_form.title }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label"></label>
                            {{ task_form.description }}
                        </div>
                        <br>
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label"></label>
                                {{ task_form.due_date }}
                            </div>
                            
                            <div class="col-md-4">
                                <label class="form-label"></label>
                                {{ task_form.priority }}
                            </div>
                            
                            <div class="col-md-4">
                                <label class="form-label"></label>
                                {{ task_form.folder }}
                            </div>
                        </div>
                    </div>

                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    
    
    

    <div class="modal fade" id="FolderModal" tabindex="-1" aria-labelledby="FolderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="FolderModalLabel">Add Folder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'tasks:folder-create' %}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label"></label>
                            {{ folder_form.name }}
                        </div>
                        <br>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label"></label>
                                {{  folder_form.color }}
                            </div>
                        </div>
                        
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>



    <div class="flex-grow-1 p-4" >
        <h2>/Folder name</h2>

        <br>

        <form method="get" class="form-inline mb-3">
            {{ form.status.label_tag }}
            {{ form.status}}
            <button type="submit" class="btn btn-primary ml-2">Filter</button>
        </form>

        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between aling-items-center">
                <div class="d-flex flex-column gap-2">
                    <a class="btn btn-lg" href="{% url 'tasks:task_detail' task.pk %}">{{ task.title }}</a>
                    <a class="btn btn-lg" href="{% url 'tasks:task_detail' task.pk %}">{{ task.description }}</a>
                    <span class="badge text-bg-primary">{{ task.status }}</span>
                </div>
                <form action="{% url 'tasks:task-complete' task.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-margin btn-sm">Done the task</button>
                </form>
                

            </li>
           
            {% empty %}
            <li class="list-group-item">Tasks not found</li>
            {% endfor %}
            <a class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#TaskModal">
                    <i class="bi bi-plus-circle-fill"></i> Add note
                </a>

        </ul>
    </div>
</div>


{% endblock %}

